<app-navbar [logged]="true"></app-navbar>
<div class="container">
    <div class="row">
        <div class="col">
            <button (click)="previousWeek()" class="btn btn-block btn-outline-primary">{{'WEEK_PREVIOUS' | translate}}</button>
        </div>
        <div class="col">
            <button (click)="nextWeek()" class="btn btn-block btn-outline-primary">{{'WEEK_NEXT' | translate}}</button>
        </div>
    </div>
</div>
<div class="notes" *ngFor="let note of notes">
    <app-day [note]="note"></app-day>
</div>

